.card-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 350px;
    height: 300px;
}

.card-img {
    width: 250px; 
}

.card-content {
    padding: 10px;
    overflow: hidden;

}

.card-title {
    margin-bottom: 15px;
    
}
.card-text {
    
}