.profile-container {
  display: flex;
  gap: 15px;
  height: 35px;
  align-items: center;

}

.welcome-message {
}

.profile-avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  object-fit: cover; 

}

.logout-button {
  width: 60px;
  height: 30px; 
  color: red;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 5px;
}

.authentication-form {
  display: flex;
  gap: 10px;
  height: 35px;
}

.input-login {
  width: 180px;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
}

.input-password {
  width: 180px;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button {
  width: 60px;
  height: 30px; 
  color: green;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 5px;
}